---
new_page_extension: md
auto_deploy: true
admin_path: "/admin"
webhook_url: 
sections:
- type: document
  path: portfolio/index.md
  label: Homepage
  templates:
  - settings
- type: directory
  path: portfolio/works
  label: Works
  create: all
  match: "**/*"
  templates:
  - works
- type: directory
  path: portfolio/journal
  label: Journal
  create: all
  match: "**/[!index]*"
  templates:
  - journal
- type: heading
  label: Data
- type: document
  path: portfolio/config.json
  label: Site Config
upload_dir: portfolio/.vuepress/public/upload
public_path: "/upload"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  preview_command: npm run site:build
  publish_command: npm run site:build
  output_directory: portfolio/.vuepress/dist
  instant_preview_command: npm run site:develop